[user]
	email = bmease@gmail.com
	name = Bradley Mease

[core]
    editor = nvim
	excludesfile = /home/brad/.gitignore_global

[merge]
    tool = vimdiff

[mergetool]
    prompt = true

[mergetool "vimdiff"]
    cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[push]
	default = simple
[github]
	user = bmease
[help]
	autocorrect = 1
[color]
	ui = true
[format]
	pretty = format:%Cred%h%Creset %C(bold blue)<%an>%Creset %s %Cblue(%cr)
[init]
	defaultBranch = main
